# Added by Spec Kitty CLI (auto-managed)
.claude/
.codex/
.opencode/
.windsurf/
.gemini/
.cursor/
.qwen/
.kilocode/
.augment/
.roo/
.amazonq/
.github/copilot/

# Spec Kitty
.worktrees
.kittify/.dashboard
.kittify/active-mission
.kittify/templates/

# Raku/fez
.precomp
.fez
sdist

# Python for some reason
__pycache__

# Temp stuff
t/tmp/
.tmp-doc-tests

# Things I hope to remove someday
specification-traceability-map/
.kittify/
kitty-specs/
*.code-workspace
docs/tickets/

# Others
_old/
experimental/

# Things I don't really want in .gitignore
CodingStandards.md
Ideas.txt
doc-example.raku
raku-cs
reformat-tables
test-command
