# Added by Spec Kitty CLI (auto-managed)
.claude/
.codex/
.opencode/
.windsurf/
.gemini/
.cursor/
.qwen/
.kilocode/
.augment/
.roo/
.amazonq/
.github/copilot/
/.worktrees
.precomp
__pycache__
.kittify/.dashboard
.kittify/active-mission
.kittify/templates/
.fez
t/tmp/

specification-traceability-map/
.kittify/
kitty-specs/
*.code-workspace
docs/tickets/
